@media print {
 #scroll-top-btn{ display:none;}
 #show-sb-btn{ display:none;}
 #bsidebar{ display:none;}
}
#side-title{
	color: #F9D342;
}
/*pre标签class*/
pre.codecopy{
    position: relative;
}
/*pre标签悬浮 复制按钮出现*/
pre.codecopy:hover .codecopy-btn{
    display: block;
}
/*复制按钮样式*/
div.codecopy-btn {
	display:none;
	background-color: #F9D342;
    position: absolute;
    right: 0px;
    top: -20px;
    font-size: 14px;
    color: #4d4d4d;
    padding: 4px 8px;
    margin: 0;
    border-radius: 4px;
    cursor: pointer;
	font-family:"PT Sans", Helvetica, Arial, sans-serif;
    box-shadow: 0 2px 4px rgba(0,0,0,0.05), 0 2px 4px rgba(0,0,0,0.05);
}
/* for block of numbers */
.hljs-ln-numbers {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    text-align: center;
    color: #ccc;
    border-right: 1px solid #CCC;
    vertical-align: top;
    padding-right: 5px;
    white-space: nowrap;
	  padding-right:3px;
    /* your custom style here */
}
.succ{
	color:green;
	font-weight: 600;
}
.succ::before{
	content: "√ ";
}
.fail{
	color:firebrick;
	font-weight: 600;
	break-before: ×;
}
.fail::before{
	content: "× ";
}
.sql-panel{
    width: 100rem;
    max-width:100%;
}
.sql-panel div{
	margin-top:0.5rem;
}
.sql-panel .btn-panel{
	text-align:right;
	width:100%;
}
.sql-panel .btn-panel button{
	display:inline-block;
}
textarea.sql-input{
	border:0;
	border-radius:5px;
	background-color:rgba(241,241,241,.98);
	width:100%;
	height: 100px;
	padding: 10px;
	resize: none;
	font-family: Menlo,Monaco,"Courier New",monospace;
	font-size: 1rem;
}
.exebtn{
	display:block;
	font-size: 1em;
	cursor: pointer;
	box-shadow: 0.2rem 0.2rem 0.2rem #EEEEEE, 0.2rem 0.2rem 0.2rem #EEEEEE;
	font-family:"PT Sans", Helvetica, Arial, sans-serif;
	border-radius: 4px;
	border:0;
	background-color: #F9D342;
}

/* for block of code */
.hljs-ln-code {
    padding-left: 10px;
}

code hljs-ln.hljs-ln-line{
	background-color:#272822;
}

.hljs-ln td {
	padding-left:3px;
	padding-right:3px;
}

table.tbl {
    border-collapse: collapse;
    margin: 0 auto;
    text-align: center;
}
table.tbl td, table.tbl th
{
    border: 1px solid #BFBFBF;
    color: #666;
    height: 30px;
}
table.tbl thead th
{
    background-color: #F9D342;
    width: 100px;
}
table.tbl tr:nth-child(odd)
{
    background: #fff;
}
table.tbl tr:nth-child(even)
{
    background: #FFFCCC;
}
/*回到顶部按钮*/
#scroll-top-btn{
	font-size: 1em;
	position:fixed;
	right:8%;
	bottom:8%;
	cursor: pointer;
  box-shadow: 0.2rem 0.2rem 0.2rem #EEEEEE, 0.2rem 0.2rem 0.2rem #EEEEEE;
	font-family:"PT Sans", Helvetica, Arial, sans-serif;
	border-radius: 4px;
	border:0;
	background-color: #F9D342;
}
/*切换代码主题按钮*/
#switch-theme-btn{
  font-size: 1em;
	position:fixed;
	right:8%;
	bottom:15%;
	cursor: pointer;
  box-shadow: 0.2rem 0.2rem 0.2rem #EEEEEE, 0.2rem 0.2rem 0.2rem #EEEEEE;
	font-family:"PT Sans", Helvetica, Arial, sans-serif;
	border-radius: 4px;
	border:0;
	background-color: #F9D342;
}


.ac{
	text-align:center;
}
.feedbackbtn{
	cursor: pointer;
	box-shadow: 0.2rem 0.2rem 0.2rem #EEEEEE, 0.2rem 0.2rem 0.2rem #EEEEEE;
	font-family:"PT Sans", Helvetica, Arial, sans-serif;
	border-radius: 4px;
	border:0;
	background-color: #F9D342;
	font-size:1.2rem;
	padding:0.3rem;
	margin-bottom:1rem;
}
.feedbackqr{
	margin:0 auto;
	max-width:200px;
}
